<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/hacker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<h2>Game status</h2>
<div>
    <data id="game_id" th:value="${gameData.gameId}"></data>
    <data id="player_id" th:value="${gameData.playerId}"></data>
    <div id="game_terminal"></div>
</div>
</body>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>
